.react-calendar {
  width: 100%;
  max-width: 800px;
  background-color: white;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 10px;
  font-family: Pretendard;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}

.react-calendar__navigation button {
  background: none;
  border: none;
  color: #3b82f6;
  font-size: 20px;
  font-family: Pretendard;
  font-weight: 700;
  padding: 8px;
  cursor: pointer;
}

.react-calendar__navigation__label {
  pointer-events: none;
  cursor: default;
}

.react-calendar__navigation button:disabled {
  color: #e5e7eb;
  background-color: white;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__month-view__weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  padding-bottom: 8px;
  font-size: 18px;
}

.react-calendar__month-view__days {
  display: grid;
  font-size: 20px;
  grid-template-columns: repeat(7, 1fr);
}

.react-calendar__tile {
  text-align: center;
  padding: 10px;
  margin: 2px;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
}

.react-calendar__tile--active {
  background-color: #3b82f6;
  color: white;
  font-weight: bold;
}

.react-calendar__tile--active:hover {
  background-color: #2563eb;
  color: white;
}

.react-calendar__tile--disabled {
  pointer-events: none;
  background-color: white !important;
  color: #d1d5db;
}

.react-calendar__tile--today {
  font-weight: bold !important;
}
